*|* {
  margin:0;
  padding:0;
  }

header {
  background-color: #000000;
}

article{ width:800px;
margin-left: auto;
margin-right: auto;}
article img {
	
	margin-left: auto;
	margin-right: auto;}
body {

  min-height: 1200px;
  background-repeat: no-repeat;

background: #ff6600; /* Old browsers */
}

form {
		clear:left;
		padding:0;
		border-top:5px solid #000000;
		width:100%;
		overflow:hidden;
		font-family: 'Marcellus SC', serif;
		position:relative;
	}

	Div.container{
		padding-top: 40px;
	}